@charset 'utf-8';
html {
  font-size: 62.5%;
}
body {
  font-family: "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
  background-color: #F6F4EF;
  overflow: hidden scroll;
  color: #333;
}

.sample1 *{
  display: none;
  height: 0px;
}

.yoko{
  display: flex;
}
