<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Boulangerie HALのサイトです。">
    <title>Sample</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/slimbox.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/slideshow.js"></script>
    <script type="text/javascript" src="js/slimbox.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/scroll.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <link rel="shortcut icon" href="images/bread.png">
</head>

<body>

    <!--ヘッダー-->
    <header>
        <div class="full">
          <div class="img01"></div>
        </div>
        <div class="logo">
          <h1 class="s_storename">
  あああ
          </h1>
        </div>
        <!-- <p class="tate">日常に寄り添った<br>美味しいパンを<br>お届けします。</p> -->
        <a href="#menu">
          <table class="header_table">
            <tbody><tr>
              <td>最新のメニューは<br>こちらから</td>
              <th>MENU</th>
            </tr>
          </tbody></table>
        </a>
        <div id="ticKer">
          <ul id="ulArea">
            <!-- ul要素 箇条書き,リスト -->
            <li><a href="#news">[2020.11.30]オーベルニュ地方フェアを開催</a></li>
            <li><a href="#news">[2020.11.16]オレンジを使用した季節限定デザートを販売</a></li>
            <li><a href="#news">[2020.11.08]ブルーチーズを使ったフェア限定商品を販売</a></li>
          </ul>
        </div>
      </header>
  
  
      <!--ナビゲーション-->
      <div class="nav">
        <nav>
          <div class="nav_img">
            <a href="#">
              <img src="images/logo01.svg" alt="">
            </a>
          </div>
          <ul>
            <li class="global-item"><a href="#">HOME</a></li>
            <li class="global-item"><a href="#menu">MENU</a></li>
            <li class="global-item"><a href="#news">NEWS</a></li>
            <li class="global-item"><a href="#address">ADDRESS</a></li>
          </ul>
        </nav>
  
      </div>
  
      <div class="clear">
  
      </div>
  
      <!--メニュー-->
      <div class="menu">
        <div class="h2" id="menu">
          <h2>MENU</h2>
        </div>
        <div class="menu_image fadein">
          <img src="images/tenpo05.jpg" alt="フランスパン" class="menuimage">
        </div>
        <ul class="s_menu_ul">
          <!-- menu1 -->
          <li class="fadein s_menu_li">
            <!-- ↓ファイル名分からん -->
            <a href="" rel="lightbox" title=""><img src="" alt=""></a>
            <h3 class="s_menu_title"></h3>
            <p class="s_menu_ex"></p>
          </li>
          <!-- menu1 -->
  
        </ul>
      </div>
  
      <div class="news">
        <div class="h2" id="news">
          <h2>コメント</h2>
          <p class="news_p">aaaa</p>
        </div>
        
  
      </div>
  
      <!--アドレス-->
      <div class="address">
        <div class="h2" id="address">
          <h2>ADDRESS</h2>
        </div>
  
        <div class="address_image fadein">
          <img src="images/image3.jpg" alt="店内写真" class="addressimage">
        </div>
        <div class="address_content fadein">
          <h4>Boulangerie HAL</h4>
          <p class="address_p">住所：<span class="s_addressnum">〒1100014</span><br><span class="s_address">東京都台東区北上野1-1-1</span><br>
            電話：<span class="s_tel"></span><br>
            メールアドレス：<span class="s_mail"></span><br>
          </p>
          <p>
            最寄り駅：
            <span class="s_eki"></span>
            <br>
          </p>
          <p>
            営業時間：<span class="s_time"></span><br>
          </p>
          <p>定休日：</p>
  
        </div>
        <div class="map_img fadein">
          <iframe src="https://maps.google.co.jp/maps?output=embed&q=" width="470" height="300" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
  
      <!--フッター-->
      <footer class="footer">
        <div class="top">
          <a href="#" class="top"><img src="images/top.png" alt="矢印"><br>TOP</a>
        </div>
        <p class="small">copyright Boulangerie HAL</p>
        <div class="sns">
          <a href="#">
            <img src="images/twitter.svg" alt="twitter">
          </a>
          <a href="#">
            <img src="images/insta.svg" alt="insta">
          </a>
        </div>
      </footer>
  

</body>

</html>